.btn:active {
	scale: 98%;
}

/* Toggle A */

input:checked~.dot {
	transform: translateX(100%);
	background-color: #48bb78;
}

/* Toggle B */

input:checked~.dot {
	transform: translateX(100%);
	background-color: #48bb78;
}

.screen-740 {
	margin-top: 8.5rem;
}

.screen-812 {
	margin-top: 8.1rem;
}

.screen-846 {
	margin-top: 13.6rem;
}

button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
/* 
p{
	color: Pink; 
	font-family: "Courier";
	font-size: 20px;
	margin: 10px 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	width: 30em;
	overflow-wrap: break-word;
	animation: type 3s steps(60, end); 
  }
  
  @keyframes type{ 
	from { width: 0; } 
  }  */